<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :job_title, style: "display: block" %>
    <%= form.text_field :job_title %>
  </div>

  <div>
    <%= form.label :job_desc, style: "display: block" %>
    <%= form.text_area :job_desc %>
  </div>

  <div>
    <%= form.label :salary, style: "display: block" %>
    <%= form.text_field :salary %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.select(:category, options_for_select(Category.all.collect{|l| [l.cat_name]}), {}, {class: "form-control"}) %>
  </div>

  
  <div>
  <%= form.label :user_id, style: "display: none"%>
  <%= form.text_field :user_id, value: current_user.id,style:"display: none" %>
  
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
