<div id="<%= dom_id job %>">
  <p>
    <strong>Job title:</strong>
    <%= job.job_title %>
  </p>

  <p>
    <strong>Job desc:</strong>
    <%= job.job_desc %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= job.salary %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= job.category %>
  </p>

</div>
