<p style="color: green"><%= notice %></p>

<h1>Jobs</h1>
<% @jobs.each do |job| %>
<div class="card" display="inline-block"style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title"><%= job.job_title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= job.category%></h6>
    <p class="card-text"><%= job.job_desc.truncate(30) + "..." %></p>
  
  </div>
  <div class="container">
  <p>
      <%= link_to "Show this job", job, class:"btn btn-primary" %>
    </p>
    </div>
  <% end %>
</div>

<div id="jobs">
  
    
    
  
</div>

<%= link_to "New job", new_job_path %>
